node_modules
.devenv/
.devenv.flake.nix
*.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# credentials
.env

# pre-commit
.pre-commit-config.yaml

# data
data/*
!data/.gitkeep

# LibreOffice lock files
.~lock*

# Jupyter notebook state
.ipynb_checkpoints

# special projects
*radio
